/**
 * @version $Id$
 * @author  Viames Marino
 * @package Pair
 */

#log {
    background-color: white;
    box-sizing: border-box;
    clear: both;
    color: #777;
    font-family: monospace;
    font-size: 13px;
    line-height: 17px;
    margin: 12px auto 0;
    width: 100%;
    word-wrap: break-word;
}

#log .logo {
    background: rgba(0, 0, 0, 0) url("../images/pair-logo.png") no-repeat scroll 0 0 / 93px 26px;
    float: left;
    height: 26px;
    margin: 3px 0 0 9px;
    width: 93px;
}

#log .head {
    background-color: #f5f5f5;
    border-top: 1px solid #456;
    color: #789;
    font-family: Helvetica,sans-serif;
    font-weight: 400;
    overflow: hidden;
}

#log .item {
    background-color: #234;
    box-sizing: border-box;
    cursor: default;
    float: left;
    height: 32px;
    line-height: 30px;
    padding: 2px 14px;
}

#log .item.database {
    cursor: pointer;
}

#log .item.active {
    background-color: #9fbbe0;
    color: black;
}

#log .item.multi {
    line-height: 12px;
}

#log .item.warning {
    background-color: #EA3;
    color: white;
    cursor: pointer;
}

#log .item.error {
    background-color: #900;
    color: white;
    cursor: pointer;
}

#log .item.warning:hover {
    background-color: #FC5;
}

#log .item.error:hover {
    background-color: #B00;
}

#log .item.active:hover,
#log #logShowEvents.item:hover {
    background-color: #afcbf0;
    color: black;
}

#log .item .desc {
    float: right;
    margin-top: 9px;
    overflow: hidden;
    white-space: nowrap;
}

#log .item .icon {
    float: left;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    margin-right: 7px;
}

#log .item .emph {
    color: white;
    font-weight: 400;
}

#log .item .sub {
    display: inline;
    font-size: 0.7em;
    margin-left: 5px;
    opacity: 0.7;
    white-space: nowrap;
}

#log #logShowEvents.item {
    border: none;
    cursor: pointer;
    float: right;
}

#log .events {
    border-top: 1px solid #ebebeb;
    font-size: 0.9em;
    line-height: 1.6em;
    padding: 7px 22px;
}

#log .events div {
    margin: 10px 0;
}

#log .events > * > span.time {
    background-color: #ddd;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    color: white;
    cursor: default;
    padding: 1px 5px;
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;    
    user-select: none;
}

#log .events > * > span.time.slow {
    background-color: #EA3;
}

#log .warning {
    color: #EA3;
}

#log .error {
    color: #F00;
}

#log .notice {
    color: #458;
}

#log .api {
    color: #487a45;
}

#log .query span,
#log .api span {
    color: #ccc;
    cursor: default;
    -webkit-user-select: none;  
    -moz-user-select: none; 
    -ms-user-select: none;    
    user-select: none;
}